<?xml version="1.0"?>
<config>
  <modules>
    <Webkul_Mpmultishipmethod>
      <version>0.1.0</version>
    </Webkul_Mpmultishipmethod>
  </modules>
  <frontend>
    <routers>
      <mpmultishipmethod>
        <use>standard</use>
          <args>
            <module>Webkul_Mpmultishipmethod</module>
            <frontName>mpmultishipmethod</frontName>
          </args>
      </mpmultishipmethod>
    </routers>
		<layout>
		  <updates>
			<mpmultishipmethod>
			  <file>mpmultishipmethod.xml</file>
			</mpmultishipmethod>
		  </updates>
		</layout>
  </frontend>
  <global>
	<events>
		<checkout_controller_onepage_save_shipping_method>
			<observers>
			   <Webkul_Mpmultishipmethod_Model_Observer>
				  <type>singleton</type>
				  <class>Webkul_Mpmultishipmethod_Model_Carrier_Mpmultishipping</class>
				  <method>saveShippingMethod</method>
			   </Webkul_Mpmultishipmethod_Model_Observer>
		   </observers>
		</checkout_controller_onepage_save_shipping_method>
		<checkout_onepage_controller_success_action>
			<observers>
			   <Webkul_Mpmultishipmethod_Model_Observersave>
				  <type>singleton</type>
					<class>Webkul_Mpmultishipmethod_Model_Carrier_Mpmultishipping</class>
					<method>afterPlaceOrder</method>
			   </Webkul_Mpmultishipmethod_Model_Observersave>
		   </observers>
		</checkout_onepage_controller_success_action>
        </events>
    <helpers>
      <mpmultishipmethod>
        <class>Webkul_Mpmultishipmethod_Helper</class>
      </mpmultishipmethod>
    </helpers>
	<blocks>
	  <mpmultishipmethod>
		<class>Webkul_Mpmultishipmethod_Block</class>
	  </mpmultishipmethod>
	</blocks>
	<models>
	  <mpmultishipmethod>
		<class>Webkul_Mpmultishipmethod_Model</class>
	  </mpmultishipmethod>
	</models>
	<resources>
	  <mpmultishipmethod_setup>
		<setup>
		  <module>Webkul_Mpmultishipmethod</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </mpmultishipmethod_setup>
	  <mpmultishipmethod_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </mpmultishipmethod_write>
	  <mpmultishipmethod_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </mpmultishipmethod_read>
	</resources>
  </global>    
	<default>
        <carriers>
            <mp_multi_shipping>
                <active>1</active>
                <model>mpmultishipmethod/carrier_mpmultishipping</model>
                <name>MP Multi Shipping</name>
                <title>MP Multi Shipping</title>
                <description>Shipping method according to partners</description>
                <sort_order>0</sort_order>
            </mp_multi_shipping>
        </carriers>
    </default>
</config> 
