<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_ChatSystem>
            <version>0.1.0</version>
        </Webkul_ChatSystem>
    </modules>
    <frontend>
        <layout>
            <updates>
                <chatsystem>
                    <file>ChatSystemFront.xml</file>
                </chatsystem>
            </updates>
        </layout>
        <routers>
            <chatsystem>
                <use>standard</use>
                <args>
                    <module>Webkul_ChatSystem</module>
                    <frontName>chatsystem</frontName>
                </args>
            </chatsystem>
        </routers>
    </frontend>
    <global>
        <blocks>  
            <chatsystem>  
                <class>Webkul_ChatSystem_Block</class>  
            </chatsystem>
        </blocks>
        <helpers>
            <chatsystem>
                <class>Webkul_ChatSystem_Helper</class>
            </chatsystem>
        </helpers>
        <models>  
            <chatsystem>  
                <class>Webkul_ChatSystem_Model</class>  
                <resourceModel>chatsystem_mysql4</resourceModel>  
            </chatsystem>  
            <chatsystem_mysql4>  
                <class>Webkul_ChatSystem_Model_Mysql4</class>  
                <entities>                     
                    <conversation>
                        <table>wk_cs_conversation</table>  
                    </conversation>                    
                    <usernotify>
                        <table>wk_cs_user_chat_notify</table>  
                    </usernotify>
                </entities>  
            </chatsystem_mysql4>  
        </models>  
        <resources>
            <chatsystem_setup>  
                <setup>  
                    <module>Webkul_ChatSystem</module>  
                </setup>  
                <connection>
                    <use>core_setup</use>
                </connection>
            </chatsystem_setup>
            <chatsystem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chatsystem_write>
            <chatsystem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chatsystem_read>
        </resources>
    </global>
</config>