<?xml version="1.0"?>
<config>
  <modules>
    <Webkul_Mpshippingmanager>
      <version>1.0.1</version>
    </Webkul_Mpshippingmanager>
  </modules>
  <default>
		<marketplace>
			<marketplace_options>
                <order_approval><![CDATA[1]]></order_approval>
            </marketplace_options>
		</marketplace>
	</default>
  <frontend>
    <routers>
      <mpshippingmanager>
        <use>standard</use>
          <args>
            <module>Webkul_Mpshippingmanager</module>
            <frontName>mpshippingmanager</frontName>
          </args>
      </mpshippingmanager>
    </routers>
		<layout>
		  <updates>
			<mpshippingmanager>
			  <file>mpshippingmanager.xml</file>
			</mpshippingmanager>
		  </updates>
		</layout>
  </frontend>
  <global>
	  <events>
			<checkout_onepage_controller_success_action>
				<observers>
					<Webkul_Mpshippingmanager_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Mpshippingmanager_Model_Observer</class>
						<method>afterPlaceOrderStatus</method>
					</Webkul_Mpshippingmanager_Model_Observer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
    <helpers>
      <mpshippingmanager>
        <class>Webkul_Mpshippingmanager_Helper</class>
      </mpshippingmanager>
    </helpers>
	<blocks>
	  <mpshippingmanager>
		<class>Webkul_Mpshippingmanager_Block</class>
	  </mpshippingmanager>
	</blocks>
	<models>
	  <mpshippingmanager>
		<class>Webkul_Mpshippingmanager_Model</class>
		<resourceModel>mpshippingmanager_mysql4</resourceModel>
	  </mpshippingmanager>
	  <mpshippingmanager_mysql4>
		<class>Webkul_Mpshippingmanager_Model_Mysql4</class>
		<entities>		  
			  <tracking>
				<table>marketplace_tracking_number</table>
			  </tracking>
        </entities>
	  </mpshippingmanager_mysql4>
	</models>
	<resources>
	  <mpshippingmanager_setup>
		<setup>
		  <module>Webkul_Mpshippingmanager</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </mpshippingmanager_setup>
	  <mpshippingmanager_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </mpshippingmanager_write>
	  <mpshippingmanager_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </mpshippingmanager_read>
	</resources>
  </global>
  <admin>
	<!--<routers>
	  <mpshippingmanager>
	    <use>admin</use>
		<args>
		  <module>Webkul_Mpshippingmanager</module>
		  <frontName>mpshippingmanager</frontName>
		</args>
	  </mpshippingmanager>
	</routers>-->
	  <routers>
		  <adminhtml>
			  <args>
				  <modules>
					  <webkul_mpshippingmanager after="Mage_Adminhtml">Webkul_Mpshippingmanager_Adminhtml</webkul_mpshippingmanager>
				  </modules>
			  </args>
		  </adminhtml>
	  </routers>
  </admin>
  <adminhtml>
	<!--menu>
	  <mpshippingmanager module="mpshippingmanager">
		<title>Mpshippingmanager</title>
		<sort_order>100</sort_order>
		<children>
		  <mpshippingmanagerbackend module="mpshippingmanager">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>mpshippingmanager/adminhtml_mpshippingmanagerbackend</action>
		  </mpshippingmanagerbackend>
		  <manage module="mpshippingmanager">
		    <title>Manage Manage</title>
			<sort_order>0</sort_order>
			<action>mpshippingmanager/adminhtml_manage</action>
		  </manage>
		</children>
	  </mpshippingmanager>
	</menu-->
	<!--acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<mpshippingmanager translate="title" module="mpshippingmanager">
			  <title>Mpshippingmanager</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <mpshippingmanagerbackend translate="title">
			<title>Backend Page Title</title>
		  </mpshippingmanagerbackend>
		  <manage translate="title">
			<title>Manage Manage</title>
			<sort_order>0</sort_order>
		  </manage>
			  </children>
			</mpshippingmanager>
		  </children>
		</admin>
	  </resources>
	</acl-->
	<layout>
	  <updates>
		<mpshippingmanager>
		  <file>mpshippingmanager.xml</file>
		</mpshippingmanager>
	  </updates>
	</layout>
  </adminhtml>
</config> 
