<?xml version="1.0"?>
<config>
    <modules>
        <Eshift_Betterimages>
            <version>1.0.0</version>
        </Eshift_Betterimages>
    </modules>
    <global>
        <helpers>
            <betterimages>
                <class>Eshift_Betterimages_Helper</class>
            </betterimages>
            <catalog>
                <rewrite>
                    <image>Eshift_Betterimages_Helper_Catalog_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <betterimages>
                <class>Eshift_Betterimages_Model</class>
            </betterimages>
            <catalog>
                <rewrite>
                    <product_image>Eshift_Betterimages_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Eshift_Betterimages>
                    <files>
                        <default>Eshift_Betterimages.csv</default>
                    </files>
                </Eshift_Betterimages>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <es_betterimages>
            <image>
                <quality>99</quality>
                <enable_sharpen>1</enable_sharpen>
                <sharpen_value>9</sharpen_value>
            </image>
            <small_image>
                <quality>99</quality>
                <enable_sharpen>1</enable_sharpen>
                <sharpen_value>8</sharpen_value>
            </small_image>
            <thumbnail>
                <quality>99</quality>
                <enable_sharpen>1</enable_sharpen>
                <sharpen_value>8</sharpen_value>
            </thumbnail>
            <other>
                <quality>99</quality>
                <enable_sharpen>1</enable_sharpen>
                <sharpen_value>8</sharpen_value>
            </other>
        </es_betterimages>
    </default>
</config>