#wkrma_hide{display: none;margin: -26px 0 0 147px;position: absolute;text-align: left;width: 134px;}
#wk_rs_overlay{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.84);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}
#wk_rs_agreement_wrapper{
    background: #FFFFFF;
    border: 10px solid #777777;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #000000;
    margin: 80px auto 0;
    height: 400px;
    padding: 15px;
    width: 50%;
}
#wk_rs_agreement_cntnt_overflow{
    height: 90%;
    overflow: auto;
}
#wk_rs_agreement_cntnt *{
    margin: 0;
    padding: 0;
}
#wk_rs_agreement_cntnt{
    text-align: left;
}
#wk_rs_iagree{
    background: #333333;
    border: 2px solid #E3E3E3;
    box-shadow: 0 0 10px 1px #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13pt;
    font-weight: bold;
    margin: 1px auto;
    padding: 10px;
    text-align: center;
    width: 10%;
}
#wk_rs_new_request{
    background: #36ADA7;
    border-bottom: 5px solid #F28395;
    text-align: center;
}
#wk_rs_new_request a{
    color: #333333;
    display: block;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
}
#wk_rs_label_image{
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}
#wk_rs_label_image:hover{
    background-position: 0 -15px;
    background-color: #0044CC;
    transition: background-position 0.1s linear 0s;
}
#wk_rs_images{
    display: none;
}
#wk_rs_reason_details{
    resize:none;
}
#wk_rs_additional_info{
    resize:none;
}
#wk_rs_orders:focus{
    background: #FFFFFF;
}
#wk_rs_upload{
    background: url("../images/sprites.png") repeat scroll -106px -290px transparent;
    display: inline-block;
    height: 26px;
    margin-right: 10px;
    vertical-align: sub;
    width: 26px;
}
.wk_rs_check{
    text-align: center;
}
#wk_rs_order_loader{
    display: none;
    margin-top: 1px;
    position: absolute;
    right: 22px;
    top: 1px;
    width: 16px;
}
#wk_rs_rma_sign{
    background: url("../images/sprites.png") repeat scroll 152px -38px transparent;
    display: inline-block;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
    width: 33px;
}
#wk_rs_rma_history{
    font-size: 16pt;
    font-weight: bold;
    margin-top: 5px;
    padding: 0;
}
.wk_rs_add_images{
    border: 2px solid #E2E2E2;
    box-shadow: 0 0 4px 2px;
    height: 100px;
    margin: 2px;
    width: 100px;
}
#wk_rs_depends_del_status{
    display: none;
}
#wk_rs_consignment_no{
    width: 100%;
}
#wk_rs_change_status{
    background: url("../images/sprites.png") repeat scroll 122px -167px / 500px 500px transparent;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 10px;
    position: relative;
    vertical-align: sub;
    width: 19px;
}
#wk_rs_csc{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 7px 0;
    display: none;
    padding: 5px;
    position: absolute;
    right: -155px;
    text-align: center;
    top: -30px;
    width: 200px;
}
#wk_rs_csc_id{
    padding: 2px;
    width: 95%;
}
#wk_rs_csc_submit{
    margin-top: 10px;
}
.wk_rs_input_warning{    
    background: #FEDADA;
    border: 1px dashed red;
}
.wk_rs_warn_arrow{
    background: url("../../../skin/frontend/default/default/images/validation_advice_bg.gif") no-repeat scroll 2px 2px transparent;
    color: #FF0000;
    display: inline-block;
    padding-left: 18px;
    text-align: left;
}
.wk_rs_success{
    background: #85C185;
    border: 2px solid green;
    display: block;
    font-weight: bold;
    margin-top: 2px;
    padding: 1px;
    width: 95%;
}
#wk_rs_conversation_container{
    margin-top: 10px;
}
.wk_rs_onereply{
    box-shadow: 2px 2px 5px;
    margin: 10px;
}
.wk_rs_onereply_head{
    background: #96C986;
    height: 15px;
    padding: 10px;
    display: block;
}
.wk_rs_onereply_head_left{
    color: #000000;
    float: left;
    font-size: 10pt;
    font-weight: bold;
}
.wk_rs_onereply_head_right{
    color: #888888;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.wk_rs_onereply_cntnt{
    /*background: #DFE8E6;*/
    font-family: tahoma;
    line-height: 25px;
    padding: 10px;
}
.wk_rs_onereply_customer{
    background: #B9CDF8 !important;
}
.wk_rs_onereply_admin{
    background: #FFE0B3 !important;
}
#wk_rs_msg_content{
    resize: none;
}
.wk_rs_tooltip {
    background: none repeat scroll 0 0 #333333;
    border-radius: 3px;
    color: #DDDDDD;
    line-height: 25px;
    padding: 3px 8px;
    position: absolute;
    right: -54px;
    top: 33px;
    visibility: hidden;
    width: 80px;
}
.wk_rs_hoverselected {
    color: #FFFFFF;
}
.wk_rs_hoverstem {
    background: url("../images/stem.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    left: 10px;
    position: absolute;
    top: -13px;
    width: 32px;
}
#wk_rs_csc_close{
    cursor: pointer;
    float: right;
    font-weight: 900;
    line-height: 11px;
    position: relative;
    right: 0;
    top: -3px;
}
#wk_rs_consignment{
    display:inline;
    margin-left:10px;
}
.wk_rs_agree_label{
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
}
#wk_rs_agree_save{
    float: right;
}
.wk_rs_status_processing{
    color: #DCA000;
}
.wk_rs_status_pending{
    color: #EB5E00;
}
.wk_rs_status_cancel{
    color: #FF0000;
}
.wk_rs_status_solve{
    color: #028900;
}
.wk_rs_input_box{
    text-align: right;
    margin-top: 10px;
}
.wk_rs_input_box label{
    padding: 10px 12px !important;
    font-weight: bold !important;
}
#wk_rs_image_loader{
    display: none;
    position: relative;
    top: 4px;
    width: 18px;
}