<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_Mpshipping>
            <version>0.1.1</version>
        </Webkul_Mpshipping>
    </modules>
	<default>
		<carriers>
			<webkulshipping>
				<active>1</active>
				<allowed_methods>delivery</allowed_methods>
				<methods>delivery</methods>
				<sallowspecific>0</sallowspecific>
				<model>Webkul_Mpshipping_Model_Carrier_LocalDelivery</model>
				<name>Webkul Table Rate Shipping</name>
				<title>Table Rate</title>
				<specificerrmsg>This shipping method is currently unavailable. If
				  you would like to ship using this shipping method, please contact
				  us.
				</specificerrmsg>
				<handling_type>F</handling_type>
			</webkulshipping>
		</carriers>
	</default>
    <frontend>
        <routers>
            <mpshipping>
                <use>standard</use>
                <args>
                    <module>Webkul_Mpshipping</module>
                    <frontName>mpshipping</frontName>
                </args>
            </mpshipping>
        </routers>
        <layout>
            <updates>
                <mpshipping>
                    <file>mpshipping.xml</file>
                </mpshipping>
            </updates>
        </layout>
    </frontend>
    <admin>
        <!--<routers>
			<mpshipping>
				<use>admin</use>
				<args>
					<module>Webkul_Mpshipping</module>
					<frontName>mpshipping</frontName>
				</args>
			</mpshipping>
        </routers>-->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webkul_mpshipping after="Mage_Adminhtml">Webkul_Mpshipping_Adminhtml</webkul_mpshipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<mpshipping>
					<file>mpshipping.xml</file>
				</mpshipping>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
                   <Webkul_Mpshipping_Model_Observer>
                      <type>singleton</type>
						<class>Webkul_Mpshipping_Model_Observer</class>
						<method>afterPlaceOrder</method>
                   </Webkul_Mpshipping_Model_Observer>
               </observers>
			</checkout_onepage_controller_success_action>
            <!-- Hooking to Magento's default event "controller_action_postdispatch" -->
            <controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>Webkul_Mpshipping_Model_Observer</class>
                        <method>hookToControllerActionPostDispatch</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
            <!-- Hooking to our own event "add_to_cart_after" -->
            <sales_quote_add_item>
                <observers>
                    <add_to_cart_after>
                        <class>Webkul_Mpshipping_Model_Observer</class>
                        <method>hookToAddToCartAfter</method>
                    </add_to_cart_after>
                </observers>
            </sales_quote_add_item>
        </events>
        <models>
            <mpshipping>
                <class>Webkul_Mpshipping_Model</class>
                <resourceModel>mpshipping_mysql4</resourceModel>
            </mpshipping>
            <mpshipping_mysql4>
                <class>Webkul_Mpshipping_Model_Mysql4</class>
                <entities>
                    <mpshipping>
						 <table>marketplace_shippinglist</table>
                    </mpshipping>
                </entities>
            </mpshipping_mysql4>
        </models>
        <resources>
            <mpshipping_setup>
                <setup>
                    <module>Webkul_Mpshipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpshipping_setup>
            <mpshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpshipping_write>
            <mpshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpshipping_read>
        </resources>
        <template>
            <email>
                <trackingnopartner>
                    <label>Tracking No Partner</label>
                    <file>marketplacepartner/trackingnopartner.html</file>
                    <type>html</type>
                </trackingnopartner>
            </email>
        </template>
        <blocks>
            <mpshipping>
                <class>Webkul_Mpshipping_Block</class>
            </mpshipping>
        </blocks>
        <helpers>
            <mpshipping>
                <class>Webkul_Mpshipping_Helper</class>
            </mpshipping>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <mp_shipping_charge/>
                        <mp_shipping_charge2/>
                        <mp_shipping_charge3/>
                        <mp_shipping_charge4/>
                        <mp_shipping_charge5/>
                        <mp_shipping_charge6/>
                        <mp_shipping_charge7/>
                        <mp_shipping_charge8/>
                        <mp_shipping_charge9/>
                        <mp_shipping_charge10/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>
