<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_Mpperproductshipping7>
            <version>0.1.1</version>
        </Webkul_Mpperproductshipping7>
    </modules>
	<default>
		<carriers>
			<mpperproductshipping7>
				<active>1</active>
				<allowed_methods>delivery</allowed_methods>
				<methods>delivery</methods>
				<sallowspecific>0</sallowspecific>
				<model>Webkul_Mpperproductshipping7_Model_Carrier_LocalDelivery</model>
				<name>MP Per Product Shipping 7</name>
				<defalt_ship_amount>10</defalt_ship_amount>
				<title>Custom Per Product Shipping 7</title>
				<specificerrmsg>This shipping method is currently unavailable. If
				  you would like to ship using this shipping method, please contact
				  us.
				</specificerrmsg>
				<handling_type>F</handling_type>
			</mpperproductshipping7>
		</carriers>
	</default>
	 <frontend>
        <!--routers>
            <mpshipping>
                <use>standard</use>
                <args>
                    <module>Webkul_Mpshipping</module>
                    <frontName>mpshipping</frontName>
                </args>
            </mpshipping>
        </routers-->
        <layout>
            <updates>
                <mpperproductshipping7>
                    <file>mpperproductshipping7.xml</file>
                </mpperproductshipping7>
            </updates>
        </layout>
    </frontend>  
    <global>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                   <Webkul_Mpperproductshipping7_Model_Observer>
                      <type>singleton</type>
                        <class>Webkul_Mpperproductshipping7_Model_Observer</class>
                        <method>afterPlaceOrder</method>
                   </Webkul_Mpperproductshipping7_Model_Observer>
               </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <models>
            <mpperproductshipping7>
                <class>Webkul_Mpperproductshipping7_Model</class>
            </mpperproductshipping7>
        </models>
        <resources>
            <mpperproductshipping7_setup>
                <setup>
                    <module>Webkul_Mpperproductshipping7</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpperproductshipping7_setup>
            <mpperproductshipping7_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpperproductshipping7_write>
            <mpperproductshipping7_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpperproductshipping7_read>
        </resources>
        <!--template>
            <email>
                <trackingnopartner>
                    <label>Tracking No Partner</label>
                    <file>marketplacepartner/trackingnopartner.html</file>
                    <type>html</type>
                </trackingnopartner>
            </email>
        </template-->
        <helpers>
            <mpperproductshipping7>
                <class>Webkul_Mpperproductshipping7_Helper</class>
            </mpperproductshipping7>
        </helpers>
    </global>
</config>
