<?xml version="1.0"?>

<config>
    <modules>
        <Mokomomo_Contactus>
            <version>0.1.0</version>
        </Mokomomo_Contactus>
    </modules>
    <global>
        <events>
            <webforms_result_submit>
                <observers>
                    <mokomomo_contactus_notification_observer>
                        <type>singleton</type>
                        <class>Mokomomo_Contactus_Model_Notification_Observer</class>
                        <method>SendNotification</method>
                    </mokomomo_contactus_notification_observer>
                </observers>
            </webforms_result_submit>
        </events>
        <resources>
            <mokomomo_contactus_setup>
                <setup>
                    <module>Mokomomo_Contactus</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mokomomo_contactus_setup>
        </resources>
        <models>
            <contactus>
                <class>Mokomomo_Contactus_Model</class>
                <resourceModel>Mokomomo_Contactus_resource</resourceModel>
            </contactus>
            <Mokomomo_Contactus_resource>
                <class>Mokomomo_Contactus_Model_Resource</class>
                <entities>
                    <contactus>
                        <table>mokomomo_contactus</table>
                    </contactus>
                </entities>
            </Mokomomo_Contactus_resource>
        </models>
        <blocks>
            <contactus>
                <class>Mokomomo_Contactus_Block</class>
            </contactus>
        </blocks>
        <helpers>
            <contactus>
                <class>Mokomomo_Contactus_Helper</class>
            </contactus>
        </helpers>
    </global>
    <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Mokomomo_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
        <layout>
            <updates>
                <contactus>
                    <file>mokomomo_contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <contactus>
                    <file>mokomomo_contactus.xml</file>
                </contactus>
            </updates>
        </layout>
        <menu>
            <webforms>
                <children>
                    <contactus module="contactus">
                        <title>E-Mail Configuration</title>
                        <sort_order>120</sort_order>
                        <action>adminhtml/contactus/</action>
                    </contactus>
                </children>
            </webforms>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contactus before="Mage_Adminhtml">Mokomomo_Contactus_Adminhtml</contactus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>